.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem;
  margin: 0;
}

.header-menu {
  display: flex;
  flex-direction: column;
}

.image-pic {
  padding-bottom: 4px;
}

.header-menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.header-text {
  color: #6809e1;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.btn-theme {
  padding: 10px 25px;
  border: 2px solid rgb(143, 31, 218);
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.dark.btn-theme {
  background: violet;
  border: 2px solid white;
}

.header-image-logo {
  transition: color 0.5s ease;
}
